
/*переменные color*/

:root {
    --orang:        #FF9736;
    --orang2:       #FFB14A;
    --greiL:        #4D4D4D;
}

/*Rosbank sans regular*/
/*#FF9736 - оранжевый основной*/
/*#FFB14A - оранжевый посветлей*/
/*#4D4D4D - серый слева основной*/
/*#666666 - цвет полосы прокрутки*/
/*#808080 - цвет колеса прокрутки*/

div.row{
    width:          100%!important;
    position:       relative!important;
}

body div.screen {
    min-width: 1400px;
    max-width: 2000px;
}

/*шрифты*/

@font-face {
    font-family: 'fontb';
    src:    url('/assets/fonts/b1351e21e1299041bc67d9daa83df0af.woff')
    format('embedded-opentype');
    src:    local('/assets/fonts/b1351e21e1299041bc67d9daa83df0af.woff');
url('/assets/fonts/b1351e21e1299041bc67d9daa83df0af.woff')
format('woff2');
    font-style:  normal;
    font-weight: normal;
}

@font-face { font-family: 'RosbankSansTTRegular';
    src: local('RosbankSansTTRegular'),
    url('/assets/fonts/b1351e21e1299041bc67d9daa83df0af.woff')
    format('woff');
    font-style: normal;
    font-weight: normal;
}




/*-------------------------------------------------------------------------------------*/
/*верхняя панель*/
/*выпадающее меню авторизации*/


body{
    display:                    inline;
    font-family:                fontb, Roboto, RosbankSansTTRegular;
    margin:                     0;
    padding:                    0;
    width:                      100%;
    /*для IE*/
    scrollbar-face-color:       #808080;
    scrollbar-highlight-color:  blue;
    scrollbar-3dlight-color:    orange ;
    scrollbar-darkshadow-color: yellow;
    scrollbar-shadow-color:     grey;
    scrollbar-arrow-color:      black;
    scrollbar-track-color:      #666666;
}

/*фиксир шапка*/
div.fixed{
    width:100%;
    height: 70px;
    margin:0 auto;
    z-index:0;
}

header.navbar {
    width:100%;
    height: 70px;
    background-color:   #FF9736;
    padding-bottom:     10px;
    position: fixed;
    z-index: 9999;
}
div.collapse {
    background-color: #FF9736 ;
}
/*header {*/

    /*background-color:   #FF9736;*/
    /*padding-bottom:     10px;*/
/*}*/

a:hover {
    color:              white;
}

header div a.inf img{
    width:            30px;
    margin:           5px 5px 5px 15px;
    padding:          0;
}

header ul li a {
    color:            white;
    font-size:        20px;
    text-align:       left;
    padding: 0;
}

#logotype {
    width:            150px;
    margin:           0 75px 0 50px;
}

header div button a{
    font-size:        20px;
}


/*код для адоптивного меню*/
nav{
    padding:          15px 10px;
    color:            #fff;
    text-align:       center;
}

nav > ul {
    padding:           0;
}

nav li{
    display:            inline-block;
    vertical-align:     top;
}

nav a{
    color:              #fff;
    padding:            0;
    text-decoration:    none;
    border:             1px solid transparent;
    transition:         0.3s;
}

nav a:hover{
    border:             1px solid #fff;
}

input[type="checkbox"] {
    display:            none;
}

nav label {
    display:            none;
    border:             1px solid #FF9736;
    padding:            5px 10px;
    cursor:             pointer;
    transition:         0.3s;
}

nav label:hover {
    color:              #FF9736;
    border:             1px solid #FF9736;
}
/*авторизация*/
div.dropdown {
    margin-right:       50px;
}

div.dropdown img {
    border-radius:      50%;
    margin-right:       15px;
    width:              40px;
    height:             40px;
}

#dropdownMenu2 {
    width:              200px;
    color:              aliceblue;
    background-color:   #FF9736;
}
div.dropdown-menu{
    width: 200px;
}

button.dropdown-item a{
    color: grey;
}

button.dropdown-item a:hover{
    color: black;
}

/*шнстерня*/
#settings{
    width: 30px;
    margin: 0 30px 0 15px;
}