/*правая часть*/
figure{
    position:               absolute!important;
    right:                  0!important;
    width:                  350px;
    margin-right:           -20px;
}



/*блок управления с права */
figure div.str img {
    width:                  30px;
    margin:                 10px 5px 5px 0;
}

figure div.zoom {
    margin-right:           5px;
}

figure div.flag img {
    width:                  45px;
    margin:                 10px 5px 5px 0;
}

figure div.ser_men{
    margin-left:            0;
    margin-bottom:          5px;
}
