

/* меньше 700px */
@media screen and (max-width: 700px) {
    #center {
        padding: 0.5em;
    }

    #center div.ser_men img{ /*картинки над картой*/
        width:                  20px;
        margin-right:           5px;

    }
    #map{
        height:                 40vmax!important; /*карта*/
        width:                  100%;
    }

    #infoTable a{
        margin: -0.7vw 0!important; /*меню над таблицей*/
    }

    #table  {
        height:                 35vmax!important; /*таблица */

    }


}


