

/* меньше 700px */
@media screen and (max-width: 700px) {
    #center div.ser_men img{
        width: 20px;
        margin-right: 5px;
    }
    #map{
        height: 48vmax!important;
        width: 100%;
    }
    #table  {
        height:                 35vmax!important;

    }

    #infoTable a{
        margin: -0.7vw 0!important;
    }
}


