
/*all settings*/
footer {
    height: 15px;
    overflow: hidden;
}
footer {
    padding-top: 1em;
    padding-bottom: 1em;
}
footer{
}
footer .wrap{
    height:                 inherit;
    padding: 0.6vmax;
    margin-bottom: 0.7vmax;
}
/*----------------------------------info--------------------------------------------*/

footer >div{
    height:                 inherit;
}
/*лого*/
footer .footer_logo img{
    width: 7vmax;
}
/*соц сети*/
footer .footer_img img{
    width: 1.5vmax;
}

footer div a {
    margin:                 0 30px 10px 0;
    color:                  #808080;
    font-size:              1.14vmax;
}
footer div a:hover{
    color: #adadad;
    text-decoration: none;
}






























/*!*--------------------------------------------------------*!*/
/*!*footer*!*/

/*footer {*/
    /*z-index: 20;*/
    /*position:           fixed; !* Фиксированное положение *!*/
    /*left:               0;*/
    /*bottom:             0; !* Левый нижний угол *!*/
    /*width:              100%; !* Ширина слоя *!*/
/*}*/

/*footer div.navbar-inner {*/
    /*display:                flex;*/
    /*justify-content:        space-between;*/
    /*padding:                0!important;*/
    /*margin:                 0!important;*/
    /*height:                 35px;*/
    /*background-color:       #4D4D4D;*/
    /*white-space:            nowrap;*/
    /*align-items:            center;*/
/*}*/

/*!*логотип*!*/
/*footer a.logo_footer img {*/
    /*width:                  100px;*/
/*}*/

/*footer div a {*/
    /*margin:                 0 30px 10px 0;*/
    /*color:                  #808080;*/
/*}*/

/*footer a.ss_footer img {*/
    /*margin:                 0;*/
    /*padding:                0;*/
    /*width:                  30px;*/
/*}*/

/*footer a.ss_footer {*/
    /*padding:                0;*/
    /*margin:                 0;*/
/*}*/
