/*----------------------------центр------------------------*/
/*data/time*/
div.search_menu{
    display:        flex;
    margin-bottom:  3px;
}

div.form-group{
    width:          150px;
    height:         40px;
}

div.form-time {
    width:          130px;
    height:         40px;
}

div.form{
    width:          70px;
    height:         40px;
}

div.form-color input{
    width:          40px;
    height:         38px;
}

 button.buttonPL{
    width:              40px;
    height:             38px;
    margin-top:         24px;
    margin-left:        5px;
    background-color:   #FF9736;
}
/*конец data/time*/

article{
    min-width:              300px;
    position:               absolute!important;
    left:                   320px!important;
    right:                  0!important;
    margin-left: -5px;
}


/*картинки над картой левые*/

div.ser_men{
    margin-left:            -3px; /*двигает общий блок картинок в право */
}

div.ser_men img {
    width:                  30px;
    margin:                 15px 0 10px 5px;
}

.ser_men div {
    display:                inline;
}

/*поисковое меню машин*/

div.search_menu div {
    margin-left:            8px;
}

/*---------------------------------------------------------------------------------*/
/*инфо меню над таблицей*/

article div.info {
    height:                 35px;
    width:                  100%;
    background-color:       #FF9736;
    margin:                 0;
}

/*текст над таблицей*/
article div ul.info_menu li {
    display:                inline;
    margin:                 0 0 0 20px;

}

/*текст над таблицей*/
article div ul.info_menu li a {
    font-size:              20px;
    color:                  #FFD8B3
}

/*значки*/
article div ul.info_menu img {
    width:                  18px;
}

/*-----------------------------------------------------------------------------------*/
/*2я вкладка видео*/

.flex{
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    max-width: 1615px; /* макс ширина */

}

.item{

    flex:1 1 calc(25% - 100px); /* отнимем margin и скажем растягиваться */
    margin:5px;
    /*box-sizing:border-box; !* чтобы внутренний отступ не влиял когда там будет текст... *!*/
    min-width:100px; /* мин. ширина блока, чтобы переносились на другой ряд */
    padding:5px 10px; font-size:200%;   /* для красоты */
}
.flex video{
    background-color: lightgray;
}



