/*----------------------------центр------------------------*/
/*data/time*/
div.inp_sher{
    display:        flex;
    margin-bottom:  3px;
}

div.form-group{
    width:          150px;
    height:         40px;
}

div.form-gro {
    width:          130px;
    height:         40px;
}

div.form{
    width:          70px;
    height:         40px;
    margin-top:     25px;
    padding-left:   10px;
}

div.form-color input{
    width:          40px;
    height:         38px;

}

div.inp_sher button{
    width:              40px;
    height:             38px;
    margin-top:         25px;
    margin-left:        15px;
    background-color:   #FF9736;
    color:              white;
}


/*конец data/time*/

article{
    min-width:              300px;
    position:               absolute!important;
    left:                   320px!important;
    right:                  270px!important;
}


/*картинки над картой левые*/

div.ser_men{
    margin-left:            -3px;
}

div.ser_men img {
    width:                  30px;
    margin:                 15px 0 10px 5px;
}

.ser_men div {
    display:                inline;
}

/*поисковое меню машин*/

div.inp_sher div {
    margin-left:            8px;
}

/*---------------------------------------------------------------------------------*/
/*инфо меню над таблицей*/
ul.info_menu{
    margin-bottom:          0;
    padding-bottom:         0;


}
article div.info {
    height:                 35px;
    width:                  100%;
    background-color:       #FF9736;
    margin:                 0;
}

/*текст над таблицей*/
article div ul.info_menu li {
    display:                inline;
    margin:                 0 0 0 20px;
    
}

/*текст над таблицей*/
article div ul.info_menu li a {
    font-size:              20px;
    color:                  #FFD8B3
}

/*значки*/
article div ul.info_menu img {
    width:                  18px;
}

/*-----------------------------------------------------------------------------------*/
/*таблица под катртой*/
.table_settings{
    padding-right:          5px;
    background-color:       #666666;
    max-height:             100%;
    padding-bottom: 40px;
}

table, td {
    text-align:                 center;
    font-size:                  18px;
    line-height:                0;
    min-height:                 1px;
    height:                     1px;
}


thead {
    background-color:           #4D4D4D;
    margin:                     0;
    padding:                    0;
}


tbody {
    background-color:           #666666;
}

thead img {
    width:                      25px;
    margin:                     0 5px 0 0;
}

table thead tr{
    color:                      #929292;
}

tbody tr{
    color:                      #D7D7D7;
}

article div div.container-fluid  {

    overflow:               auto;
    padding:                0;
    margin-bottom:          2px;
    margin-top:             0;
}

