/* левый блок*/
aside{
    position:       absolute!important;
}


/*-------------------------------------------------------------------------------------*/

/*над списком*/

aside {
    background-color:   #4D4D4D;
    height:             955px;
    width:              300px;
}

aside div.control_buttons {
    padding:             0;
    margin:              0px 0 -14px 0;
}

ul.control_buttons li a {
    border:             none;
    color:              #808080;
    display:            inline;
    padding:            0 10px 0 0;
    margin:             0;
    font-size:          18px;
}

aside img.razdelitel {
    width:              100%;
    margin:             -20px 0 0 0;
    padding:            0;
}



/*полоса прокрутки*/


aside div.overflow {

    height:                 556px;
    overflow-y:             auto;
    color:                  #FF9736; /*цвет текста левого блока*/
    margin-right:           5px;
}

body {
    margin:                 0;
    height:                 100%;
}

/*стилилизация прокрутки hrome, opera*/

::-webkit-scrollbar-button {
    background-repeat:      no-repeat;
    width:                  5px;
    height:                 0;
}

::-webkit-scrollbar-track {
    background-color:       #666666;
    -webkit-border-radius:  5px;
    border-radius:          5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:  5px;
    border-radius:          5px;
    background-color:       #808080;
}

::-webkit-scrollbar-thumb:hover{
    background-color:       var(--orang);
}

::-webkit-resizer{

    background-repeat:      no-repeat;
    width:                  4px;
    height:                 0;
}

::-webkit-scrollbar{
    width:                   12px;
}


/*панель под списком*/
aside div li.li-tem {
    list-style-type:        none;
    display:                inline;
    padding:                0;
    margin-left:            -5px;
}

aside div.aside_down li a {
    margin:                 0 5px 0 15px;
    color:                  #FFD8B3;
    font-size:              18px;
}

aside div.aside_down ul {
    height:                 35px;
    width:                  100%;
    margin:                 15px 0 0 0;
    background-color:       #FF9736;
}

/*aside div img {*/

    /*width:                  100%;*/
    /*margin:                 20px 0 0 -10px;*/
/*}*/


/*нижняя левая часть*/
/*#krug{*/
    /*background-color:       #666666;*/
    /*margin:                 30px 0 20px 30px;*/
    /*border-radius:          200px ;*/
    /*width:                  120px;*/
    /*height:                 120px;*/
/*}*/


